
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 34rem;
}.message-from-alica-z1A {
  box-sizing: border-box;
  padding: 4rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.message-from-alica-z1A .property-1default-GDa {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1default-GDa .reply-bWk {
  margin-left: 6.8rem;
  width: calc(100% - 6.8rem);
  height: 4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1default-GDa .reply-bWk .time-unL {
  margin-right: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1default-GDa .reply-bWk .auto-group-9n1j-nr8 {
  width: 16.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1default-GDa .reply-bWk .auto-group-9n1j-nr8 .name-izg {
  width: 14rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
}
.message-from-alica-z1A .property-1default-GDa .reply-bWk .auto-group-9n1j-nr8 .avatars-dLx {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 12.9rem;
  top: 0;
  overflow: hidden;
  background-color: #303239;
  border-radius: 5rem;
}
.message-from-alica-z1A .property-1default-GDa .reply-bWk .auto-group-9n1j-nr8 .avatars-dLx .avatar-wsS {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
}
.message-from-alica-z1A .property-1default-GDa .onversation-bubble-Ebe {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem;
  width: 100%;
  height: 7.2rem;
  background-color: #28a0ff;
  border-radius: 2.4rem 0 2.4rem 2.4rem;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1default-GDa .onversation-bubble-Ebe .text-9ic {
  max-width: 24.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1default-GDa .onversation-bubble-Ebe .text-9ic .text-9ic-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1default-GDa .onversation-bubble-Ebe .text-9ic .text-9ic-sub-1 {
}
.message-from-alica-z1A .property-1default-GDa .onversation-bubble-Ebe .text-9ic .text-9ic-sub-2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1default-GDa .onversation-bubble-Ebe .text-9ic .text-9ic-sub-3 {
}
.message-from-alica-z1A .property-1variant2-58Q {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1variant2-58Q .reply-bsS {
  margin-left: 6.8rem;
  width: calc(100% - 6.8rem);
  height: 4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1variant2-58Q .reply-bsS .time-XFJ {
  margin-right: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1variant2-58Q .reply-bsS .auto-group-ypbj-2xk {
  width: 16.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1variant2-58Q .reply-bsS .auto-group-ypbj-2xk .name-wpp {
  width: 14rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
}
.message-from-alica-z1A .property-1variant2-58Q .reply-bsS .auto-group-ypbj-2xk .avatars-rRz {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 12.9rem;
  top: 0;
  overflow: hidden;
  background-color: #303239;
  border-radius: 5rem;
}
.message-from-alica-z1A .property-1variant2-58Q .reply-bsS .auto-group-ypbj-2xk .avatars-rRz .avatar-ymW {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
}
.message-from-alica-z1A .property-1variant2-58Q .onversation-bubble-hBi {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem;
  width: 100%;
  height: 7.2rem;
  background-color: #1f1f1f;
  border-radius: 2.4rem 0 2.4rem 2.4rem;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1variant2-58Q .onversation-bubble-hBi .text-yQ8 {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1variant2-58Q .onversation-bubble-hBi .text-yQ8 .text-yQ8-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #28a0ff;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1variant2-58Q .onversation-bubble-hBi .text-yQ8 .text-yQ8-sub-1 {
}
.message-from-alica-z1A .property-1variant2-58Q .onversation-bubble-hBi .text-yQ8 .text-yQ8-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5779a2;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1variant2-58Q .onversation-bubble-hBi .text-yQ8 .text-yQ8-sub-3 {
}
.message-from-alica-z1A .property-1variant2-58Q .onversation-bubble-hBi .text-yQ8 .text-yQ8-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6eb76e;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1variant2-58Q .onversation-bubble-hBi .text-yQ8 .text-yQ8-sub-5 {
}
.message-from-alica-z1A .property-1variant3-MhW {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1variant3-MhW .reply-HbA {
  margin-left: 6.8rem;
  width: calc(100% - 6.8rem);
  height: 4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1variant3-MhW .reply-HbA .time-11N {
  margin-right: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1variant3-MhW .reply-HbA .auto-group-ed5e-7q6 {
  width: 16.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1variant3-MhW .reply-HbA .auto-group-ed5e-7q6 .name-QpC {
  width: 14rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
}
.message-from-alica-z1A .property-1variant3-MhW .reply-HbA .auto-group-ed5e-7q6 .avatars-iK6 {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 12.9rem;
  top: 0;
  overflow: hidden;
  background-color: #303239;
  border-radius: 5rem;
}
.message-from-alica-z1A .property-1variant3-MhW .reply-HbA .auto-group-ed5e-7q6 .avatars-iK6 .avatar-EYL {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
}
.message-from-alica-z1A .property-1variant3-MhW .onversation-bubble-vRA {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem;
  width: 100%;
  height: 7.2rem;
  background-color: #363636;
  border-radius: 2.4rem 0 2.4rem 2.4rem;
  flex-shrink: 0;
}
.message-from-alica-z1A .property-1variant3-MhW .onversation-bubble-vRA .text-qo2 {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1variant3-MhW .onversation-bubble-vRA .text-qo2 .text-qo2-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #28a0ff;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1variant3-MhW .onversation-bubble-vRA .text-qo2 .text-qo2-sub-1 {
}
.message-from-alica-z1A .property-1variant3-MhW .onversation-bubble-vRA .text-qo2 .text-qo2-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5779a2;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1variant3-MhW .onversation-bubble-vRA .text-qo2 .text-qo2-sub-3 {
}
.message-from-alica-z1A .property-1variant3-MhW .onversation-bubble-vRA .text-qo2 .text-qo2-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6eb76e;
  font-family: Rubik, 'Source Sans Pro';
}
.message-from-alica-z1A .property-1variant3-MhW .onversation-bubble-vRA .text-qo2 .text-qo2-sub-5 {
}
