
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 35.915rem;
}.sound-kAx {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.sound-kAx .property-1default-FdW {
  margin-bottom: 2rem;
  width: 31.915rem;
  height: 12.369rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sound-kAx .property-1variant2-ZeC {
  width: 31.915rem;
  height: 12.369rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
