.NavbarItems {
    background: #363636;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.navbar-logo {
    /* color: linear-gradient(90deg, rgb(94, 158, 254) 0%, rgba(94, 249, 254) 100%); */
    background: -webkit-linear-gradient(90deg, rgb(94, 158, 254) 0%, rgba(94, 249, 254) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    list-style-type: none;
    text-align: center;
    width: 70vw;
    margin-right: 17px;
    justify-content: end;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-links:hover {
    background-color: #28A0FF;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}


@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease-out;
    }

    .nav-menu:active {
        background: #363636;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease-out;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 8px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #28A0FF;
        border-radius: 4px;
        transition: all 0.2s ease-out;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
}