
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 256rem;
}.desktop-main-static-PsA {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .nav-bar-vkc {
    padding: 2.1rem 5.2rem 2.105rem 6rem;
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    background-color: #363636;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-1-5xG {
      margin-right: 153.4rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-Kbi {
        width: 9.9997rem;
        height: 7.7954rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.1003rem;
      }
      .smartvhf-kwv {
        font-size: 4.6rem;
        font-weight: 400;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.5048rem;
      }
    }
    .home-x2Q {
      text-decoration-line: underline;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.505rem 6.4rem 0rem 0rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #28a0ff;
      font-family: Open Sans, 'Source Sans Pro';
      font-size: 2.4rem;
    }
    .about-rGC {
      color: #5779a2;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.505rem 6.6rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3625;
    }
    .terms-of-use-Gqi {
      font-weight: 400;
      line-height: 1.3625;
      color: #5779a2;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.505rem 6.8rem 0rem 0rem;
      font-size: 2.4rem;
    }
    .contact-7rL {
      margin-top: 0.5048rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #5779a2;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-8mx8-cHJ {
    padding: 2.1rem 1.3rem 2.1rem 2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-ve2x-HeL {
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
      height: 26.5rem;
      display: flex;
      align-items: flex-start;

      .ship-bar-MeC {
        border-radius: 0.4rem;
        flex-shrink: 0;
        margin-right: 2.5rem;
        box-sizing: border-box;
        padding-top: 0.1rem;
        width: 210rem;
        height: 100%;
        background-color: #363636;

        .auto-group-vjds-Ext {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          width: 209.8rem;
          height: 26.4rem;
        }
      }
      .map-bar-5Cp {
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 40.2rem;
        background-color: #262626;
        border-radius: 0.4rem;

        .auto-group-syua-CYL {
          vertical-align: top;
          width: 40.2rem;
          height: 26.4rem;
          position: relative;
          object-fit: contain;
        }
      }
    }
    .auto-group-7tts-J5a {
      width: 100%;
      height: 99.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .main-pZi {
        width: 210rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #363636;
        flex-shrink: 0;
        margin-right: 1.5rem;
        padding: 7.8rem 62.1rem 15.4rem 62.2rem;
        border-radius: 0.4rem;
        box-sizing: border-box;

        .speaking-now-WSY {
          font-size: 4.8rem;
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
          font-family: Rubik, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 9.5rem;
        }
        .sound-yb2 {
          width: 50rem;
          height: 19.3702rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.1rem 9.43rem 0rem;
        }
        .bob-the-boat-this-is-coast-guard-alice-all-roger-and-many-thanks--gVS {
          line-height: 1.5;
          color: #ffffff;
          font-family: Rubik, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 6.2rem;
          font-weight: 400;
          font-size: 4.8rem;
          max-width: 85.7rem;
          text-align: center;

          .bob-the-boat-this-is-coast-guard-alice-all-roger-and-many-thanks--gVS-sub-0 {
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
          }
          .bob-the-boat-this-is-coast-guard-alice-all-roger-and-many-thanks--gVS-sub-1 {
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
          }
          .bob-the-boat-this-is-coast-guard-alice-all-roger-and-many-thanks--gVS-sub-2 {
            text-decoration-line: underline;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .bob-the-boat-this-is-coast-guard-alice-all-roger-and-many-thanks--gVS-sub-3 {
          }
          .bob-the-boat-this-is-coast-guard-alice-all-roger-and-many-thanks--gVS-sub-4 {
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
          }
          .bob-the-boat-this-is-coast-guard-alice-all-roger-and-many-thanks--gVS-sub-5 {
            font-family: Rubik, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
          }
          .bob-the-boat-this-is-coast-guard-alice-all-roger-and-many-thanks--gVS-sub-6 {
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
          }
          .bob-the-boat-this-is-coast-guard-alice-all-roger-and-many-thanks--gVS-sub-7 {
          }
        }
        .buttons-nEx {
          text-align: center;
          font-size: 4.8rem;
          border-radius: 4rem;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          align-items: center;
          margin: 0rem 17.9rem 0rem 17.8rem;
          height: 10rem;
          justify-content: center;
          background-color: #28a0ff;
          flex-shrink: 0;
          width: calc(100% - 35.7rem);
          font-weight: 400;
          line-height: 1.5;
          font-family: Rubik, 'Source Sans Pro';
        }
      }
      .side-bar-9ji {
        width: 41.2rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .side-bar-svc {
          left: 0.5rem;
          top: 0;
          background-color: #262626;
          border-radius: 0.4rem;
          width: 40.2rem;
          height: 99.3rem;
          position: absolute;
        }
        .line-1-n1z {
          width: 37.2rem;
          height: 0.1rem;
          position: absolute;
          left: 2rem;
          top: 6.7rem;
          background-color: #828282;
        }
        .conversation-log-fba {
          position: absolute;
          top: 1.8rem;
          font-size: 2.4rem;
          color: #ffffff;
          font-family: Rubik, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.6rem;
          left: 2rem;
          font-weight: 300;
          line-height: 1.5;
          width: 18.2rem;
        }
        .auto-group-83qv-woz {
          height: 91.5rem;
          position: absolute;
          left: 0;
          top: 7.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 41.2rem;
        }
      }
    }
  }
}
