
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 26.7rem;
}.ship-icon-C6G {
  padding: 4rem 3.3rem 4.9rem 3.4rem;
  position: relative;
  align-items: center;
  flex-direction: column;
  border: solid 0.1rem #9747ff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 0.5rem;

  .property-1default-HNc {
    background-color: #28a0ff;
    border-radius: 10rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.117rem 3.4rem 4rem 3.3rem;
    width: 100%;
    align-items: center;
    margin-bottom: 4.8rem;
    display: flex;
    flex-direction: column;

    .ship-BD6 {
      margin: 0rem 0rem 0.417rem 0.101rem;
      width: 8.3343rem;
      height: 9.1667rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .ship-name-5JU {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .property-1variant2-6Da {
    display: flex;
    background-color: #5779a2;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.117rem 3.4rem 4rem 3.3rem;
    width: 100%;
    align-items: center;
    flex-direction: column;
    border-radius: 10rem;
    margin-bottom: 5.3rem;

    .ship-YrG {
      width: 8.3343rem;
      height: 9.1667rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 0.417rem 0.101rem;
    }
    .ship-name-4Jp {
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.3625;
    }
  }
  .property-1variant3-MYp {
    margin-bottom: 4.8rem;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    padding: 3.117rem 3.4rem 4rem 3.3rem;
    width: 100%;
    display: flex;
    background-color: #ababab;
    border-radius: 10rem;

    .ship-FeC {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 0.417rem 0.101rem;
      width: 8.3343rem;
      height: 9.1667rem;
    }
    .ship-name-mMe {
      font-weight: 700;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
    }
  }
  .property-1variant7-eRS {
    box-sizing: border-box;
    padding: 3.117rem 3.4rem 4rem 3.3rem;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5.1rem;
    width: 100%;
    display: flex;
    border: solid 1rem #ffffff;
    background-color: #28a0ff;
    border-radius: 10rem;
    flex-shrink: 0;

    .ship-gsv {
      flex-shrink: 0;
      margin: 0rem 0rem 0.417rem 0.101rem;
      width: 8.3343rem;
      height: 9.1667rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ship-name-8jv {
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1ellipse-1-property-2property-27-vvg {
    box-sizing: border-box;
    padding: 3.117rem 3.4rem 4rem 3.3rem;
    width: 100%;
    align-items: center;
    flex-direction: column;
    border-radius: 10rem;
    margin-bottom: 4.8rem;
    display: flex;
    border: solid 1rem #ffffff;
    background-color: #5779a2;
    flex-shrink: 0;

    .ship-1BS {
      margin: 0rem 0rem 0.417rem 0.101rem;
      width: 8.3343rem;
      height: 9.1667rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .ship-name-5SC {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .property-1ellipse-1-property-2property-27-Ld2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1rem #ffffff;
    background-color: #ababab;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    border-radius: 10rem;
    padding: 3.117rem 3.4rem 4rem 3.3rem;

    .ship-2Ex {
      height: 9.1667rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 0.417rem 0.101rem;
      width: 8.3343rem;
    }
    .ship-name-Kjr {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
