.home_content {
    background: #363636;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature {
    background: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.fea-text {
    width: 800px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #363636;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 10;
    border-radius: 10px;
}
.items-list {
    list-style-type: none;
    padding: 0;
}
.item {
    margin: 10px 0;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.item h2 {
    padding: 0 20px;
    margin: 0;
}

.item p {
    margin: 0 auto;
}

.signal {
    width: 200px;
    align-items: center;
    margin: 0 auto;
}


button {
    min-width: 100px;
    padding: 12px 25px;
    border-radius: 50px;
    border: none;
    background: #28A0FF;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.transcript{
    width: 650px;
    margin: 0 auto;
    padding: 50px 0;
}

.feature {

}