.ships_content {
    display: flex;
    color: #fff;
    background: #363636;
    overflow-x: scroll; 
    white-space: nowrap;
    /* width: 80%;  */
}

.ship_img {
    margin: 2px 5px;
    width: 174px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
}
